<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="../css/admin-1.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="wrap">
        <div class="top">
            <h2>然然饭团子菜单管理系统欢迎您</h2>
        </div><!--top结束-->
        <div class="left">
            <ul>
                <li><h4>功能列表</h4></li>
                <li><a href="/admin/list">菜品管理</a></li>
                <li><a href="/admin/add">菜品录入</a></li>
            </ul>
        </div><!--left结束-->
        <div class="right">
            <div class="right-01">
                <form method="post" action="/admin/add/do">
                <table align="center" cellspacing="20px">
                    <caption>菜品录入</caption>
                    <tr>
                        <td>名称&nbsp;&nbsp;&nbsp;&nbsp;</td>
                        <td><input type="text" name="food_name" /></td>
                    </tr>
                    <tr>
                        <td>菜品类别&nbsp;&nbsp;&nbsp;&nbsp;</td>
                        <td>
                            <select name="food_type">
                                <option value="1">主食</option>
                                <option value="2">凉菜</option>
                                <option value="3">热菜</option>
                                <option value="4">汤类</option>
                                <option value="5">饮料</option>
                                <option value="6">水果</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>原材料&nbsp;&nbsp;&nbsp;&nbsp;</td>
                        <td>
                            <textarea name="food_materail"></textarea>
                        </td>
                    </tr>
                    <tr>
                        <td>价格&nbsp;&nbsp;&nbsp;&nbsp;</td>
                        <td><input name="food_price" type="number" />&nbsp;&nbsp;加元</td>
                    </tr>
                    <tr>
                        <td>时间&nbsp;&nbsp;&nbsp;&nbsp;</td>
                        <td><input name="food_duration" type="number" />&nbsp;&nbsp;分钟</td>
                    </tr>
                    <tr>
                        <td>制作步骤&nbsp;&nbsp;&nbsp;&nbsp;</td>
                        <td>
                            <textarea name="food_process"></textarea>
                        </td>
                    </tr>
                    <tr>
                        <td>上传图片&nbsp;&nbsp;&nbsp;&nbsp;</td>
                        <td><input type="file" /></td>
                    </tr>
                    <tr>
                        <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
                        <td><input type="submit" value="提交" /></td>
                    </tr>
                </table>
                </form>
            </div>        
        </div><!--right结束-->
    </div><!--wrap结束-->
</body>
</html>