<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>然然饭团子<%=text%></title>
    <link href="css/common.css" rel="stylesheet" type="text/css"/>
</head>
<body>
    <div class="wrap">
        <div class="nav">
            <div class="nav-left">
                <img src="images/logo.png" height="100px" />
            </div>
            <div class="nav-middle">
                <ul>
                    <li><a href="#">随机点菜</a></li>
                    <li class="aaa"><a href="#">查看已选菜单</a></li>
                </ul>
            </div>
            <div class="nav-right">
                <input class="bbb" type="text"  style="border-radius: 10px" />
            </div>
        </div><!--nav结束---->
        <div class="list">
            <div class="list-left">
                <ul>
                    <li><a href="#">主食</a></li>
                    <li><a href="#">凉菜</a></li>
                    <li><a href="#">热菜</a></li>
                    <li><a href="#">汤类</a></li>
                    <li><a href="#">饮料</a></li>
                    <li><a href="#">水果</a></li>
                </ul>
            </div>
            <div class="list-right">
                <div class="list-right-wrap">
                    <h2>今日份菜单</h2>
                    <div class="list-right-11">
                        <div>
                            <img src="images/pic1.jpg" width="200px" />
                        </div>
                        <div>
                            <h4>麻婆豆腐</h4>
                            <button>删除</button>
                        </div>
                    </div>
                    <div class="list-right-11">
                        <div>
                            <img src="images/pic2.jpg" width="200px" />
                        </div>
                        <div>
                            <h4>地三鲜</h4>
                            <button>删除</button>
                        </div>
                    </div>
                    <div class="list-right-11">
                        <div>
                            <img src="images/pic3.jpg" width="200px" />
                        </div>
                        <div>
                            <h4>干煸四季豆</h4>
                            <button>删除</button>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--list结束-->
    </div><!--wrap结束-->
</body>
</html>