<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>然然饭团子</title>
    <link href="css/common.css" rel="stylesheet" type="text/css"/>
</head>
<body>
    <div class="wrap">
        <div class="nav">
            <div class="nav-left">
                <img src="images/logo.png" height="100px" />
            </div>
            <div class="nav-middle">
                <ul>
                    <li><a href="#">随机点菜</a></li>
                    <li class="aaa"><a href="#">查看已选菜单</a></li>
                </ul>
            </div>
            <div class="nav-right">
                <input class="bbb" type="text"  style="border-radius: 10px" />
            </div>
        </div><!--nav结束---->
        <div class="list">
            <div class="list-left">
                <ul>
                    <li><a href="#">主食</a></li>
                    <li><a href="#">凉菜</a></li>
                    <li><a href="#">热菜</a></li>
                    <li><a href="#">汤类</a></li>
                    <li><a href="#">饮料</a></li>
                    <li><a href="#">水果</a></li>
                </ul>
            </div>
            <div class="list-right">
                <h2>【麻婆豆腐】</h2>
                <div class="list-right-1">
                    <img src="images/pic1.jpg" width="300px" />
                </div>
                <div class="list-right-2">
                    <ul>
                        <li><h4>材料</h4></li>
                        <li>板豆腐3块</li>
                        <li>辣豆瓣酱2-3大勺</li>
                        <li>花椒少许</li>
                        <li>油适量</li>
                        <li>香油1小勺</li>
                        <li>糖少许</li>
                        <li>葱末两条</li>
                        <li>蒜末3-4瓣</li>
                    </ul>
                </div>
                <div class="list-right-3">
                    <ol>
                        <li><h4>制作步骤</h4></li>
                        <li>煮一锅沸腾的水,水滚后加3大匙盐,将切好的豆腐丢入水中煮半熟。</li>
                        <li>将花椒炒香,花椒丢去,油捞起备用,到一点油加一点香油绞肉丢下来炒熟,加入蒜末和葱末(白的那头)炒到香</li>
                        <li>加入豆瓣酱拌香,加入适量的水,将豆腐倒入,先不要去搅拌他,烧煮一下,稍微轻轻拌炒一下,要注意不要把豆腐弄破喔!!</li>
                        <li>加入一点糖,一点盐,准备勾芡,慢慢倒入,大火!!</li>
                        <li>加入葱末(绿色的那头)~~起锅完成!!</li>
                    </ol>
                </div>
            </div>
        </div><!--list结束-->
    </div><!--wrap结束-->
</body>
</html>