<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>然然饭团子</title>
    <link href="css/common.css" rel="stylesheet" type="text/css"/>
</head>
<body>
    <div class="wrap">
        <div class="nav">
            <div class="nav-left">
                <img src="images/logo.png" height="100px" />
            </div>
            <div class="nav-middle">
                <ul>
                    <li><a href="#">随机点菜</a></li>
                    <li class="aaa"><a href="#">查看已选菜单</a></li>
                </ul>
            </div>
            <div class="nav-right">
                <input class="bbb" type="text"  style="border-radius: 10px" />
            </div>
        </div><!--nav结束---->
        <div class="list">
            <div class="list-left">
                <ul>
                    <li><a href="#">主食</a></li>
                    <li><a href="#">凉菜</a></li>
                    <li><a href="#">热菜</a></li>
                    <li><a href="#">汤类</a></li>
                    <li><a href="#">饮料</a></li>
                    <li><a href="#">水果</a></li>
                </ul>
            </div>
            <div class="list-right">
                <div class="list-right-a">
                    <div class="list-right-aa">
                        <div class="list-right-a1-pic">
                            <img src="images/pic1.jpg" height="200px" />
                        </div>
                        <div class="list-right-a1-name">
                            <span>麻婆豆腐</span>
                        </div>
                        <p>&nbsp;</p>
                        <div>
                            <button>查看菜谱</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <button>加入菜单</button>
                        </div>
                    </div>
                    <div class="list-right-aa">
                        <div class="list-right-a2-pic">
                            <img src="images/pic2.jpg" height="200px" />
                        </div>
                        <div class="list-right-a2-name">
                            <span>地三鲜</span>
                        </div>
                        <p>&nbsp;</p>
                        <div>
                            <button>查看菜谱</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <button>加入菜单</button>
                        </div>
                    </div>
                    <div class="list-right-aa">
                        <div class="list-right-a3-pic">
                            <img src="images/pic3.jpg" height="200px" />
                        </div>
                        <div class="list-right-a3-name">
                            <span>干煸四季豆</span>
                        </div>
                        <p>&nbsp;</p>
                        <div>
                            <button>查看菜谱</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <button>加入菜单</button>
                        </div>
                    </div>
                </div>
                <div class="list-right-b">
                    <div class="list-right-bb">
                        <div class="list-right-b1-pic">
                            <img src="images/pic4.jpg" height="200px" />                        
                        </div>
                        <div class="list-right-b1-name">
                            <span>芹菜炒肉丝</span>
                        </div>
                        <p>&nbsp;</p>
                        <div>
                            <button>查看菜谱</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <button>加入菜单</button>
                        </div>
                </div>
                <div class="list-right-bb">
                    <div class="list-right-b2-pic">
                        <img src="images/pic5.jpg" height="200px" />                        
                    </div>
                    <div class="list-right-b2-name">
                        <span>蒜苔炒香肠</span>
                    </div>
                    <p>&nbsp;</p>
                    <div>
                        <button>查看菜谱</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <button>加入菜单</button>
                    </div>
            </div>
            <div class="list-right-bb">
                <div class="list-right-b3-pic">
                    <img src="images/pic6.jpg" height="200px" />                        
                </div>
                <div class="list-right-b3-name">
                    <span>清蒸鱼</span>
                </div>
                <p>&nbsp;</p>
                <div>
                    <button>查看菜谱</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <button>加入菜单</button>
                </div>
        </div>
            </div>
        </div><!--list结束-->
    </div><!--wrap结束-->
</body>
</html>