<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="../css/admin-1.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="wrap">
        <div class="top">
            <h2>然然饭团子菜单管理系统欢迎您</h2>
        </div><!--top结束-->
        <div class="left">
            <ul>
                <li><h4>功能列表</h4></li>
                <li><a href="/admin/list">菜品管理</a></li>
                <li><a href="/admin/add">菜品录入</a></li>
            </ul>
        </div><!--left结束-->
        <div class="right">
            <div class="right-1">
                <span>菜品管理</span>
            </div>
            <div class="right-2">
                <span>菜品搜索：<input type="text" />&nbsp;&nbsp;<button>搜索</button></span>
            </div>
            <div class="right-3">
                <table cellspacing="10px" cellpadding="15px">
                    <tr>
                        <th>序号</th>
                        <%# <th>菜品类别</th> %>
                        <th>菜品名称</th>
                        <th>价格/加币</th>
                        <th>所需时间/min</th>
                        <th>操作</th>
                    </tr>
                    <% results.each do |row| %>
                    <tr>
                        <td><%=row['id']%></td>
                        <td><%=row['name']%></td>
                        <td><%=row['price']%></td>
                        <td><%=row['duration']%></td>
                        <td>
                            <button>查看菜谱</button>
                            <button>删除</button>
                        </td>
                    </tr>
                    <% end %>
                </table>
            </div>
        </div><!--right结束-->
    </div><!--wrap结束-->
</body>
</html>