<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="../css/admin.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div>
        <div class="wrap">
            <div class="wrap-a">
                <span>管理登录</span>
            </div>
            <div class="wrap-b">
                <table align="center">
                    <tr height="70px">
                        <td>用户名</td>
                        <td>&nbsp;&nbsp;&nbsp;<input type="text" /></td>
                    </tr>
                    <tr heiht="68px">
                        <td>密&nbsp;&nbsp;&nbsp;码</td>
                        <td>&nbsp;&nbsp;&nbsp;<input type="password" /></td>
                    </tr>
                </table>
            </div>
            <div class="wrap-c">
                <button>登录</button>
            </div>
        </div>
    </div>
</body>
</html>