body{
   width: 100%;
   background-color: #e8e8e8;
}
.wrap{
    background-color: deepskyblue;
    width: 400px;
    height:250px;
    border: 1px solid #e8e8e8;
    border-radius: 10px;
    padding:15px;
    margin:0 auto;
    margin-top:200px;
   /* background-color: #e8e8e8;*/
}
.wrap-a{
    border-bottom: 1px solid #e8e8e8;
    text-align: center;
    height:45px;
}
.wrap-a span{
    font-size: 24px;
}
.wrap-b{
    border-bottom: 1px solid #e8e8e8;
    text-align: center;
    height:140px;
}
.wrap-c{
    padding: 20px;
    text-align: center;
}
button{
    width: 85px;
}