.wrap{
    width: 1200px;
    margin: 0 auto;
}
.top{
    height:80px;
    background-color: deepskyblue;
    line-height: 80px;
    padding-left: 30px;
    color: #ffffff;
}
.left{
    width: 250px;
    float:left;
    text-align: center;
}
.left li{
    height:60px;
    list-style-type: none;
    line-height: 60px;
    border-bottom: 1px solid #e8e8e8;
}
.left a:link,.left a:visited{
    text-decoration: none;
    color: #000;
}
.left a:hover,.left a:active{
    display: block;
    background-color: deepskyblue;
}
.right{
    width:940px;
    border:1px solid #e8e8e8;
    float:right;
    margin-top: 20px;
}
.right-1{
    width:940px;
    height:30px;
    background-color: #e8e8e8;
}

.right-2{
    height:30px;
    margin-top: 20px;
    padding-left: 20px;
}
.right-3{
    width: 900px;
    height:500px;
    border: 1px solid #e8e8e8;
    margin:20px  auto;
}
.right-3 table{
    width:100%;
}
.right-3 td{
    text-align: center;
}
