*{
    margin: 0px;
    padding: 0px;
}
.wrap{
    width:1200px;
    margin: 0 auto;
}
.nav{
    width: 1200px;
    height:100px;
    border-bottom: 1px solid #000;
}
.nav-left{
    width:200px;
    height:100px;
    float:left;
}
.nav-left img{
    height: 100px;
    float: left;
}
.nav-middle li{
    float:left;
    list-style-type: none;
    margin-top: 60px;
    font-size: 16px;
    font-family: "微软雅黑";
}
.nav-middle a:link,.nav-middle a:visited{
    text-decoration: none;
    color:#000;
}
.nav-middle a:hover,.nav-middle a:active{
    text-decoration: none;
    color: #c00;
}
.aaa{
    padding-left: 30px;
}
.nav-right{
    float:right;
    margin-top: 60px;
    padding-right: 15px;
}
.list{
    width:1200px;
}
.list-left{
    width:200px;
    margin-top: 30px;
    float:left;
}
.list-left li{
    list-style-type: none;
    height:60px;
    width:200px;
    border-bottom: 1px solid #e8e8e8;
}
.list-left a{
    display: block;
    text-decoration: none;
    font-size: 18px;
    color: #000;
    font-family: "微软雅黑";
    text-align: center;
    line-height: 60px;
    margin: 0 auto;
}
.list-left a:hover,.list-left a:active{
    background: #c00;
}
.list-right{
    float:left;
    width: 999px;
    background: #e8e8e8;
    text-align: center;
}
.list-right h2{
    margin-top: 35px;
}
.list-right-aa{
    float:left;
    width:300px;
    height:300px;
    margin: 30px 13px 30px 13px;
    border: 1px solid #ffe153;
    background-color: #ffffff;
    border-radius: 15px;
    overflow: hidden;
}
.list-right-bb{
    float:left;
    width:300px;
    height:300px;
    margin: 0 13px 30px 13px;
    border: 1px solid #ffe153;
    background-color: #ffffff;
    border-radius: 15px;
    overflow: hidden;
}
.list-right-1{
    width: 300px;
    height: 500px;
    float: left;
    border: 1px solid #e8e8e8;
    border-radius: 5px;
    overflow: hidden;
    background-color: #ffffff;
    margin: 30px 15px 30px 32px;
}
.list-right-2{
    width: 170px;
    height: 500px;
    float: left;
    border: 1px solid #e8e8e8;
    border-radius: 5px;
    overflow: hidden;
    background-color: #ffffff;
    margin: 30px auto;
}
.list-right-2 li{
    list-style-type: none;
    width: 170px;
    height: 35px;
    border-bottom: 1px solid #e8e8e8;
    text-align: left;
    line-height: 35px;
}
.list-right-2 h4{
    background-color: forestgreen;
}
.list-right-3{
    width: 430px;
    height: 500px;
    float: left;
    border: 1px solid #e8e8e8;
    border-radius: 5px;
    overflow: hidden;
    background-color: #ffffff;
    margin: 30px 30px 30px 15px;
}
.list-right-3 li{
    width: 430px;
    height: 70px;
    border-bottom: 1px solid #e8e8e8;
    text-align: left;
    text-indent: 2em;
}
.list-right-3 h4{
    height: 35px;
    background-color: forestgreen;
    line-height: 35px;
}
.list-right-wrap{
    width: 500px;
    background-color: #ffffff;
    margin: 0 auto;
}
.list-right-wrap h2{
    background-color: coral;
    margin:20px auto;
}
.list-right-11{
    width: 496px;
    height: 150px;
    overflow: hidden;
    border-bottom: 1px solid #e8e8e8;
    padding:5px;
}
.list-right-11 h4{
    float:left;
    margin-left:20px;
}
.list-right-11 img{
    margin-left: 0px;
    float:left;
}

